:root {
    --hover-color:  #6c6868;
    --new-button-hover-color: #868383;
    --menu-background-color: #4D4C4C;
    --text-color: #d3d2d2;
    --screen-bg-color: #313131;
    --text-size: 1ch;
    --move: calc(-13.3vw / var(--zoom-level));
    --movez: -(var(--move));
    --text-size-calc: calc(50% - var(--text-size));
  }

.Menus {
    background-color: var(--menu-background-color);
    border-radius: 10px;
}

.BackGround {
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--screen-bg-color);
}

.Button {
    width: 100px;
    height: 100px;
    transition: transform 100ms ease-in;
}
.Button:hover {
    transform: scale(1.1);
}


/*#region ScrollBar*/

.ScrollBar::-webkit-scrollbar {
    width: 10px;
    scrollbar-gutter: stable;
}
.ScrollBar::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
    border-radius: 10px;
}
.ScrollBar::-webkit-scrollbar-thumb:hover {
    background-color: var(--menu-background-color);
}
.ScrollBar::-webkit-scrollbar-track {
    background-color: var(--hover-color);
    border-radius: 10px;
}
.ScrollBar::-webkit-scrollbar-corner {
    background-color: transparent;
}

/*#endregion ScrollBar*/



