:root {
    --hover-color:  #6c6868;
    --new-button-hover-color: #868383;
    --menu-background-color: #4D4C4C;
    --text-color: #d3d2d2;
    --screen-bg-color: #313131;
    --text-size: 1ch;
    --text-size-calc: calc(50% - var(--text-size));
  }

.Menus {
    background-color: var(--menu-background-color);
    border-radius: 10px;
}

.AllContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 98%;
    margin: auto;
    margin-top: 10px;
    row-gap: 10px;
    flex-grow: 0;
    flex-shrink: 0;
}



/*#region BackGround*/
.BackGround {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--screen-bg-color);
}
/*#endregion BackGround*/



/*#region Canvas*/
.CanvasContainer {
    display: flex;
    height: 89vh;
    width: 98vw;
    transition: column-gap 0.5s ease;
}

.SideMenuOpened {
    column-gap: 10px;
}

.SideMenuClosed {
    column-gap: 0px;
}

.ZoomContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 87vh;
    width: 100%;
}

.Canvas {
    height: 85vh;
    transition: width 0.5s ease;
}

.CanvasShrinks {
    width: 82vw;
}

.CanvasGrows {
    width: 97vw;
}

.Nodes {
    transition: translate 0.5s ease;
}

.NodeOpen {
    translate: -15vw;
}

/*#endregion Canvas*/



/*#region NavBar*/

.NavBar {
    display: flex;
    justify-content: space-between;
    background-color: var(--menu-background-color);
    align-items: center;
    border-radius: 10px;
    flex-shrink: 0;
    height: 8vh;
    width: 98vw;
}

.Title {
    color: var(--text-color);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/*#endregion NavBar*/



/*#region NavBar Buttons*/
.Button {
    height: 95%;
    border: none;
}

.MenuButton {
    left: 0px;
}
/* 
.AccountButton {

} */

.Button:hover {
    background-color: var(--hover-color);
}
/*#endregion NavbarButtons*/



/*#region NewButton*/
.NewButton {
    position: fixed;
    z-index: 1;
    bottom: 4%;
    right: 2.3%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--hover-color);
    border: none;
}

.NewButton:hover {
    background-color: var(--new-button-hover-color);
}
/*#endregion NewButton*/



/*#region SideMenu*/
.SideMenu {
    order: -1;
    overflow-y: auto;
    overflow-x: hidden;
    height: 87vh;
    row-gap: 10px;
    transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.open {
    width: 15vw;
    opacity: 1;
}

.close {
    width: 0;
    opacity: 0;
}
/*#endregion SideMenu*/



/*#region SideMenuItems*/

.MenuItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 95%;
    max-width: 95%;
    max-height: 250px;
    margin-top: 10px;
    height: auto; /* Allow it to expand with content */
}
.SideMenuButtonDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.SideMenuButton {
    display: flex;
    align-items: center;
    width: 90%;
    height: 50px;
    border: none;
    background-color: var(--menu-background-color);
    cursor: pointer;
}
.MenuItemContent {
    padding: 5%;
    color: var(--text-color);
}
.SideMenuButton:hover {
    background-color: var(--hover-color);
}
.MenuItemIcon {
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
.SubMenu {
    max-height: 0; /* Initially hidden */
    overflow: hidden;
    background-color: var(--menu-background-color);
    transition: max-height 0.3s ease-out;
}
.SubMenu.Expanded {
    max-height: 200px; /* Adjust based on content */
}


/*#endregion SideMenuItems*/



/*#region ScrollBar*/

.ScrollBar::-webkit-scrollbar {
    width: 10px;
    scrollbar-gutter: stable;
}
.ScrollBar::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
    border-radius: 10px;
}
.ScrollBar::-webkit-scrollbar-thumb:hover {
    background-color: var(--menu-background-color);
}
.ScrollBar::-webkit-scrollbar-track {
    background-color: var(--hover-color);
    border-radius: 10px;
}
.ScrollBar::-webkit-scrollbar-corner {
    background-color: transparent;
}

/*#endregion ScrollBar*/
